a:visited {
    color: #aaff01;
    text-decoration: none;
}
a:link {
    color: #aaff01;
    text-decoration: none;
}

a:hover {
    color: darkred;
    text-decoration: underline;
}

body {
    background-color: #FF6F61;
    color: floralwhite;
}

.space {
    color: black;
    font-weight: bold
    font-size: 30px;
}

#nav {
background-color: #45B8AC;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#logo {
background-color: #7FCDCD;
    padding: 1px;
    text-align: center;
    letter-spacing: 20px;
}
#content {
    background-color: #7FCDCD;
    padding: 10px;
    text-align: center;
}
#footer {
background-color: #45B8AC;
    text-align: center;
    font-size: 10px;
    padding: 5px;
    letter-spacing: 10px;

}