<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Galleries</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>
<body>
<div id="container">
    <div id="logo">
        <h2>Galleries</h2>
    </div>
    <div
            th:replace="fragments/nav::nav">
    </div>

    <div id="content" style="text-align: left">
        <div th:each="gallery: ${galleries}">
            Gallery Id: <td th:text="${gallery.id}"/>,
            Gallery name: <td th:text="${gallery.name}"/>,
            Image quantity: <td th:text="${gallery.images.size()}"/>,
            Gallery owners:
            <span th:each="galleryOwner: ${gallery.users}">
            <td th:text="${galleryOwner.username}"/>
            </span>
        </div>
    </div>

    <div
            th:replace="fragments/footer::footer">
    </div>
</div>
</body>
</html>