<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gallery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>

<body>
<div id="container">
    <div id="logo">
        <h2>Gallery</h2>
    </div>
    <div
            th:replace="fragments/nav::nav">
    </div>

    <div id="content">
        <a th:href="@{/add-image-for-gallery(id=*{galleryId})}" name="id">Add image for gallery: </a><td th:text="*{gallery}"/>
        <p>Images:</p>
            <table border align="center" th:each="i: ${image}">
                    <tr>
                        <td th:text="${i.name}" style="text-align: center"></td>
                    </tr>
                <tr>
                    <td>
                <img th:src="${'data:image/png;base64,'+i.data}" width="500px"/>
                    </td>
                </tr>
                <br>
            </table>
    </div>

    <div
            th:replace="fragments/footer::footer">
    </div>
</div>
</body>
</html>