<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>
<body>
<div id="container">
    <div id="logo">
        <h2>Profile</h2>
    </div>
    <div
            th:replace="fragments/nav::nav">
    </div>
    <div id="content">
        <div th:switch="${user}">
            <p th:case="'anonymousUser'">You're not logged in.</p>
            <div th:case="*">
<!--            <div th:case="*">Logged as: <td th:text="${user}"/>-->

                <a th:if="${role.isAdmin()}">
                    <button onclick="window.location.href='/create-user'">Create User</button>
                    <button onclick="window.location.href='/users'">Users</button>
                    <button onclick="window.location.href='/shared-gallery-form'">Create shared gallery</button>
                    <button onclick="window.location.href='/galleries'">Galleries</button>
                    <button onclick="window.location.href='/images'">Images</button>
                </a>

                <a th:unless="${role.isAdmin()}">

                    <button onclick="window.location.href='/galleries'">Your galleries</button>
                    <button onclick="window.location.href='/images'">Your images</button>

                </a>
        </div>
        </div>
    </div>
    <div
            th:replace="fragments/footer::footer">
    </div>
</div>
</body>
</html>