<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gallery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
</head>
<body>
<div id="container">
    <div id="logo">
        <h2>Galleries</h2>
    </div>
    <div
            th:replace="fragments/nav::nav">
    </div>

    <div id="content" style="text-align: left">
        <p>Select user's for shared gallery.</p>
        <form th:action="@{/shared-gallery-form}" th:object="${gallery}" method="post">
            <div th:each="u: ${users}">
            <input th:text="${u.getUsername()}" th:value="${u.id}" th:field="*{users}" type="checkbox"/>
            </div>
            Gallery name: <input type="text" th:field="*{name}"/>
            <input type="submit" value="Submit"/>

        </form>
    </div>
    <div
            th:replace="fragments/footer::footer">
    </div>
</div>

</body>
</html>