<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>
<body>
<div id="container">
    <div id="logo">
        <h2>Users</h2>
    </div>
    <div
            th:replace="fragments/nav::nav">
    </div>

    <div id="content" style="text-align: left">
        <p>Number of users: <td th:text="*{usersCount}"/> (without admins: <td th:text="*{usersNonAdmin}"/>)</p>
        <form th:each="user: ${users}">
            User Id: <td th:text="${user.id}"/>,
            Username: <td th:text="${user.username}"/>
            <a th:href="@{/users(id=${user.id})}" name="id">Show user details</a>
        </form>
    </div>

    <div
            th:replace="fragments/footer::footer">
    </div>
</div>
</body>
</html>