<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>

<body>
<div id="container">
    <div id="logo">
        <h2>User</h2>
    </div>
    <div
            th:replace="fragments/nav::nav">
    </div>

    <div id="content" style="text-align: left">

        <a th:href="@{/add-gallery-for-user(id=*{userId})}" name="id">Add gallery for user: </a><td th:text="*{user}"/>
<!--        <a th:href="@{/users(id=*{userId})}" th:action="@{/users}" name="id" method="post">Delete user: </a><td th:text="*{user}"/>-->
        <form th:action="@{/delete-user}" th:object="${u}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <p><input type="submit" value="Delete"/></p>
        </form>
        <p>Galleries:</p>
        <form th:each="g: ${gallery}">
            <p>
                - <td th:text="${g.name}"/>,
                <a th:href="@{/galleries(id=${g.id})}" name="id">Show gallery details</a>
            </p>
        </form>
    </div>

    <div
            th:replace="fragments/footer::footer">
    </div>
</div>
</body>
</html>