<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Galleries</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>
<body>
<div id="container">
    <div id="logo">
        <h2>Galleries</h2>
    </div>
    <div
            th:replace="fragments/nav::nav">
    </div>

    <div id="content" style="text-align: left">
        <form th:each="gallery: ${userGalleries}">
            Gallery Id: <td th:text="${gallery.id}"/>,
            Gallery name: <td th:text="${gallery.name}"/>
            <a th:href="@{/galleries(id=*{gallery.id})}" name="id">Watch images from this gallery. </a>
        </form>
    </div>

    <div
            th:replace="fragments/footer::footer">
    </div>
</div>
</body>
</html>