<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Images</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>
<body>
<div id="container">
    <div id="logo">
        <h2>Images</h2>
    </div>
    <div
            th:replace="fragments/nav::nav">
    </div>

<div id="content">
    <table border align="center" th:each="i: ${userImages}">
        <tr>
            <td th:text="'Image id: '+${i.id}" style="text-align: center"/>
        </tr>
        <tr>
            <td th:text="'Image name: '+${i.name}" style="text-align: center">eee</td>
        </tr>
        <tr>
            <td th:text="'Gallery id: '+${i.gallery.getId()}" style="text-align: center">eee</td>
        </tr>
        <tr>
            <td>
                <img th:src="${'data:image/png;base64,'+i.data}" width="500px"/>
            </td>
        </tr>
        <br>
    </table>
</div>

    <div
            th:replace="fragments/footer::footer">
    </div>
</div>
</body>
</html>